PORT=3000

TELEGRAM_API_ID=example
TELEGRAM_API_HASH=example
TELEGRAM_SESSION=example

JARVIS_URL=http://localhost:3000/jarvis
USER_JID=example
JARVIS_ADMIN_KEY=example

VIBE_GIT_AI_API_KEY=example
GITHUB_TOKEN=example